<!-- //this doesn't work use just as a template for now -->
<p>
  event-details works!
</p>

<h1> Neighbors attending {{myEventInfo.eventName}} include:</h1>

    <div class="contactcontainer container">
  <div class="row">

    <ul>
      <div class="col-sm-4" *ngFor="let neighbor of neighbors">

        <li>
          <!-- //neighbor comes from up above, names come from model -->
          <img [src]="baseUrl + neighbor.photoUrl">
          <p>{{neighbor.fullName}}</p>
          <p>{{neighbor.zipcode}}</p>
          <p>{{neighbor.tellusmore}}</p>

          <!-- //If click then it should go to eventdetails page for that event. -->
        <!-- <button> <a [routerLink] = "['/eventdetails', event.id]"> Who's Attending? </a> </button> -->
        </li>


      </div>
    </ul>



</div>
</div>
