<!-- //this doesn't work use just as a template for now -->


<h1> Neighbors Attending: {{myEventInfo?.eventName}} </h1>

    <div class="contactcontainer container">
  <div class="row">

    <ul>
      <div class="col-sm-4" *ngFor="let neighbor of neighbors">

        <li>
          <!-- //neighbor comes from up above, names come from model -->
          <img [src]="baseUrl + neighbor.photoUrl">
<div class="caption">
          <p>{{neighbor.fullName}}</p>
          <p>{{neighbor.zipcode}}</p>
          <p>{{neighbor.tellusmore}}</p>
</div>
          <div class="text-center">
    			      <a [routerLink] = "['/neighbordetails', neighbor._id]">  <button type="button" class="  small btn btn-primary btn-lg">  See All Events Attending  </button></a>
    			</div>
        </li>
      </div>
    </ul>

</div>
<div class="mybuttons">
<button [routerLink]="['/api/events']" type="button" class="btn btn-primary btn-lg">Back To Events</button>
</div>

</div>
