<h1> Hollywood Community Event Calendar </h1>
    
    <div class="contactcontainer container">
  <div class="row">

    <ul>
      <div class="col-sm-4" *ngFor="let event of events">

        <li>
          <img src={{event.photoUrl}}>
          <p>{{event.eventName}}</p>
          <p>{{event.eventLocation}}</p>
          <p>{{event.eventDate}}</p>
          <p>{{event.eventTime}}</p>
          <p>{{event.zipcode}}</p>
          <p>{{event.aboutEvent}}</p>
        </li>

      </div>
    </ul>

  </div>
</div>
