
  <h1 id="h1" class='text-center'> Community Events In Zipcode: 30020 </h1>
    <div class="container page contactcontainer">
      <div class="row">

    <ul>
      <div id="each" class="col-sm-4" *ngFor="let event of events">

        <li>

          <!-- <div class="thumbnail"> -->



          <img *ngIf="event.photoUrl" [src]="baseUrl + event.photoUrl">

          <div class="caption">
          <p>{{event.eventName}}</p>
          <p>{{event.eventLocation}}</p>
          <p>{{event.eventDate}}</p>
          <p>{{event.eventTime}}</p>
          <p>{{event.zipcode}}</p>
          <p>{{event.aboutEvent}}</p>
<!-- //had button inside caption, trying to see if its better to move it out or not -->
      </div>
			<div class="text-center">
			      <a [routerLink] = "['/eventdetails', event._id]">  <button type="button" class="  btn btn-primary btn-lg">  Who's Attending?  </button></a>
			</div>
    <!-- </div> -->
        </li>
      </div>
    </ul>
</div>
</div>

<!-- //****************************** css  -->
<!-- <body>
	<div id="wrapper">

		<div id="content">
<h1 class="header"> Community Events In Zipcode: 30020 </h1>

<section class="recipe-view" id="recipes-page">

<ul rowspacing>
  <div *ngFor="let event of events">

    <li class='imageblock'>

      <div class="eachrecipepic">
      <img *ngIf="event.photoUrl" [src]="baseUrl + event.photoUrl">
      </div>
    <div class="recipedesc">
      <p>{{event.eventName}}</p>
      <p>{{event.eventLocation}}</p>
      <p>{{event.eventDate}}</p>
      <p>{{event.eventTime}}</p>
      <p>{{event.zipcode}}</p>
      <p>{{event.aboutEvent}}</p>
      <a [routerLink] = "['/eventdetails', event._id]">  <button type="button" class="  btn btn-primary btn-lg">  Who's Attending?  </button></a>
    </div>
  </li>
  </div>
</ul> -->

  <!-- </section>


</div>
</div>
</body> -->
