<p>
  login works!
</p>

<h3> Log In </h3>

<p *ngIf="loginErrorMessage" class="error">
  {{ loginErrorMessage }}
</p>

<form (ngSubmit)="doLogin()">
  <label for="login-email-input"> Email </label>
  <input  id="login-email-input" type="email" placeholder="hi@example.com"
      [(ngModel)]="loginEmail" name="loginEmail">
  <br>

  <label for="login-pass-input"> Password </label>
  <input  id="login-pass-input" type="password" placeholder="*****"
      [(ngModel)]="loginPassword" name="loginPassword">
  <br>
  <button> Log In </button>
</form>
