
<h1> Your Neighbors </h1>

    <div class="contactcontainer container">
  <div class="row">

    <!-- //ul -->
      <div class="col-sm-4" *ngFor="let neighbor of neighbors">


          <!-- <img src={{neighbor.photoUrl}}> -->
          <img *ngIf="neighbor.photoUrl" [src]="'http://localhost:3000' + neighbor.photoUrl">
          <p>{{neighbor.fullName}}</p>
          <p>{{neighbor.email}}</p>
          <p>{{neighbor.encryptedPassword}}</p>
          <p>{{neighbor.zipcode}}</p>
          <p>{{neighbor.photoUrl}}</p>
          <p>{{neighbor.tellusmore}}</p>


      </div>


  </div>
</div>
