<div class="contactcontainer container">

<div class="row">
  <div class="col-sm-6">
<p>left</p>
<img src="/assets/images/house-313396_1280.jpg" class="img-fluid" alt="Responsive image">
</div>

  <div class="col-sm-6">
<p>
  signup works!
</p>
  <h3> Sign Up </h3>

  <p *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </p>

  <form (ngSubmit)="doSignUp()">
    <label for="full-name-input"> Full Name </label>
    <input  id="full-name-input" type="text" placeholder="Blanche Bourbon"
        [(ngModel)]="fullNameValue" name="fullNameValue">
    <br>

    <label for="email-input"> Email </label>
    <input  id="email-input" type="email" placeholder="blah@example.com"
        [(ngModel)]="emailValue" name="emailValue">
    <br>

    <label for="password-input"> Password </label>
    <input  id="password-input" type="password" placeholder="*****"
        [(ngModel)]="passwordValue" name="passwordValue">
    <br>

    <label for="zipcode-input"> Zipcode </label>
    <input  id="zipcode-input" type="text" placeholder="12345"
        [(ngModel)]="zipcodeValue" name="zipcodeValue">
    <br>

    <label for="photo-input"> Photo </label>
    <input  id="photo-input" type="file" placeholder=""
        [(ngModel)]="photoValue" name="photoValue">
        <!-- //added this for uploading images -->
        ng2FileSelect [uploader]="myCoolUploader">
    <br>

    <label for="more-input"> Tell us more about you </label>
    <input  id="more-input" type="text" placeholder=""
        [(ngModel)]="moreValue" name="moreValue">
    <br>

    <button> Sign Up </button>
  </form>
</div>
</div>
</div>
---------------------

<!-- //**********************************************************template to use is below
<div class="formcontainer">
<form>
  <div class="form-group">
    <label for="contact-name">Contact Name</label>
    <input type="text" [(ngModel)]="newContact.name" name="blah" class="form-control"  placeholder="Name">
  </div>
  <div class="form-group">
    <label for="contact-email">Email address</label>
    <input type="text" [(ngModel)]="newContact.email"  name="blah" class="form-control" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="contact-phone">Phone Number</label>
    <input type="text" [(ngModel)]="newContact.phoneNumber"  name="blah" class="form-control"  placeholder="Password">
  </div>
  <div class="form-group">
    <label for="contact-image">Image</label>
    <input type="text" name="blah" [(ngModel)]="newContact.image">

  </div>
  <button (click)="addContact()" class="btn btn-default">Submit New Contact</button>
</form>
<div> -->
