


<!-- ////////////////////////// -->
<div class="largecenter">
  <div class='smallcenter contactcontainer container login-block'>
    <h3> Sign Up </h3>
    <p *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </p>

    <form class="form-horizontal" (ngSubmit)="doSignUp()">
<!-- <div class= "form-group"> -->
      <label for="full-name-input"> Name </label>
      <!-- <div class="col-xs-10"> -->
      <input  id="full-name-input" type="text" placeholder="Blanche Bourbon"
          [(ngModel)]="fullNameValue" name="fullNameValue">
        <!-- </div>
      </div> -->
      <br>

      <label for="email-input"> Email </label>
      <input  id="email-input" type="email" placeholder="blah@example.com"
          [(ngModel)]="emailValue" name="emailValue">
      <br>

      <label for="password-input"> Password </label>
      <input  id="password-input" type="password" placeholder="*****"
          [(ngModel)]="passwordValue" name="passwordValue">
      <br>

      <label for="zipcode-input"> Zipcode </label>
      <input  id="zipcode-input" type="text" placeholder="30020"
          [(ngModel)]="zipcodeValue" name="zipcodeValue">
      <br>

      <label for="more-input"> A little bit about you: </label>
      <input  id="more-input" type="text" placeholder=""
          [(ngModel)]="moreValue" name="moreValue">

          <label for="photo-input"> Photo (required) </label>
          <input  id="photo-input" type="file" placeholder=""
              [(ngModel)]="photoValue" name="photoValue" ng2FileSelect [uploader]="myCoolUploader">
          <br>

      <button> Sign Up </button>
    </form>
  </div>
</div>
