





<div class = "page-header">

   <h1 class="text-center">
      Neighbor Connect
      <h2 class="text-center">Connecting neighbors through community events</h2>
   </h1>

</div>

<!--Mask-->
<div class="view">
    <!--Intro content-->
    <div class="full-bg-img flex-center">

    <!--/Intro content-->
</div>
</div>
<div class="mybuttons">
<button [routerLink]="['/signup']" type="button" class="btn btn-primary btn-lg">Sign Up</button>
<button [routerLink]="['/login']" type="button" class="btn btn-primary btn-lg">Log In</button>

</div>
<!--/.Mask-->
