<!-- <p>
  home-page works!
</p> -->



<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Neighbor Connect</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/login']">Log In</a></li>
        <li><a [routerLink]="['/signup']">Sign Up</a></li>
          <li><a [routerLink]="['/']">Log Out</a></li>
        <!-- <li><a (click)="logout()">Log Out</a></li>
        (click)="logout()"> -->
        <!-- <li><a [routerLink]="['api/logout']">Log Out</a></li> -->

      </ul>
    </div>
  </div>
</div>

<div class = "page-header">

   <h1 class="text-center">
      Neighbor Connect
      <h2 class="text-center">Connecting neighbors through community events</h2>
   </h1>

</div>

<!--Mask-->
<div class="view">
    <!--Intro content-->
    <div class="full-bg-img flex-center">

    <!--/Intro content-->
</div>
</div>
<div class="mybuttons">
<button (click)="signup()" type="button" class="btn btn-primary btn-lg">Sign Up</button>
<button (click)="login()" type="button" class="btn btn-primary btn-lg">Log In</button>

</div>
<!--/.Mask-->
