.text-center {
  text-align: center;
}
.page-header{
  margin-bottom:-3%;
  padding-bottom: 0px;
  margin-top:6%;
  border-style: none;
}
h1{
  font-size:73px;
  font-family: 'Passion One', cursive;
}
html,
body,
.view {
    height: 100%;
    /*padding-top: 364px;*/
    padding-top:26%;

}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    /*margin-left: -95px;*/
    margin-left: -25%;
}

.mybuttons{
  margin-bottom: 10%;
  text-align: center;
  margin-left: 3%;
}

/*.btn .btn-primary .btn-lg{
margin-right: 40px;

}*/
.btn{
  border-color: turquoise;
  width: 11%;
}
.btn-lg{
  /*margin-right: 40px;*/
  margin-right: 3%;
}
.view {
    background: url("/assets/images/city-2042634.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.view img {
  width:100%;
}

.jumbotron{
  height:10%;
}
